---
// Component Imports

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">

<head>
	<meta charset="UTF-8" />
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<title>Astro + TailwindCSS</title>
</head>

<body>
	<div class="grid place-items-center h-screen content-center">
		<p>What a lovely day</p>
	</div>
</body>

</html>