---

---

<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <title>Asociatia Prometeu </title>
</head>

<body>
  <nav class="flex items-center justify-between flex-wrap bg-blue-400 p-6">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
      <a href="/" class="font-semibold text-xl tracking-tight">Asociata Prometeu</a>
    </div>
    <div class="w-full  flex-grow flex lg:items-center lg:w-auto">
      <div class="text-lg flex-col lg:flex-row flex lg:flex-grow lg:justify-center">
        <a href="/erasmus" class="block mt-4 lg:inline-block lg:mt-0 text-blue-200 hover:text-white mr-4">
          ERASMUS
        </a>
        <a href="/despre" class="block mt-4 lg:inline-block lg:mt-0 text-blue-200 hover:text-white mr-4">
          DESPRE
        </a>
      </div>
    </div>
  </nav>
  <div class="grid place-items-center h-screen content-center">
    <slot />
  </div>
</body>

</html>